<div class="main">
  <div class="body">
    <div *ngIf="!websocketService.isConnected()" class="connection-area">
      <label>Enter your websocket url and connect</label>
      <div class="connect-input">
        <input [(ngModel)]="url" type="text"/>
        <button (click)="this.websocketService.connect(this.url)" [disabled]="this.websocketService.isConnecting()">
          Connect
        </button>
      </div>
    </div>
    <div *ngIf="websocketService.isConnected()" class="message-area">
      <label>Enter your message</label>
      <div class="message-input">
        <input [(ngModel)]="message" type="text"/>
        <button (click)="websocketService.send(this.message)">Send</button>
        <button (click)="websocketService.close();" class="close-connection-button">Close</button>
      </div>
    </div>
    <div class="output-area">
      <div #scrollable class="output">
        <div *ngFor="let message of messages" class="message {{message.severity}} {{message.direction}}">
          {{message.content}}
        </div>
      </div>
      <svg (click)="this.websocketService.clearMessages()" width="20" height="20" viewBox="0 0 20 20"
           xmlns="http://www.w3.org/2000/svg" data-svg="trash">
        <polyline fill="none" stroke="#000" points="6.5 3 6.5 1.5 13.5 1.5 13.5 3"></polyline>
        <polyline fill="none" stroke="#000" points="4.5 4 4.5 18.5 15.5 18.5 15.5 4"></polyline>
        <rect x="8" y="7" width="1" height="9"></rect>
        <rect x="11" y="7" width="1" height="9"></rect>
        <rect x="2" y="3" width="16" height="1"></rect>
      </svg>
    </div>
  </div>
</div>
