<div class="main">
  <div class="body">
    <div *ngIf="!connected" class="connection-area">
      <label>Enter your websocket url and connect</label>
      <div class="connect-input">
        <input type="text" value="wss://test-url" />
        <button>Connect</button>
      </div>
    </div>
    <div *ngIf="connected" class="message-area">
      <label>Enter your message</label>
      <div class="message-input">
        <input type="text" value="Hey Server!" />
        <button>Send</button>
      </div>
    </div>
    <div class="output-area"></div>
  </div>
</div>
